a {
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
}
.frame1 {
  display: flex;
  width: 1140px;
  justify-content: space-between;
  align-items: center;
}

.ragam1 {
  width: 237.667px;
  height: 46px;
  flex-shrink: 0;
  padding: 0px 30px 13px 30px;
}
header {
  display: flex;
  width: 1440px;
  height: 65px;
  padding: 0px 46px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
}

.frame2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 42px;
}

.fm3 {
  color: #000;
  font-family: "IBM Plex Serif";
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.home {
  display: flex;
  width: 1440px;
  padding: 4px 0px;
  flex-direction: column;
  align-items: center;
  gap: 42px;
}

.fm4 {
  color: #000;
  font-family: "IBM Plex Sans";
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.fm5 {
  display: inline-flex;
  padding: 4px 36px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 50px;
  background: #000;
}
.explorer {
  color: #fff;
  font-family: "IBM Plex Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.learning {
  color: rgba(0, 0, 0, 0.5);
  font-family: "IBM Plex Sans";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 112px;
  height: 29px;
  position: absolute;
}

.fm6 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  width: 112px;
  height: 50px;
  position: relative;
  margin-top: 50px;
}

.learnmore {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  position: absolute;
  top: 46px;
}

.frame3 {
  display: flex;
  width: 1140px;
  justify-content: space-between;
  align-items: center;
  padding-top: 130px;
}

.img9 {
  width: 312px;
  height: 312px;
  flex-shrink: 0;
  background: url(<path-to-image>);
}

.abt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 36px;
}

.nthg {
  display: flex;
  width: 200px;
  justify-content: space-between;
  align-items: center;
}

.abt2 {
  color: #000;
  font-family: "IBM Plex Serif";
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.para1 {
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}

.frame10 {
  display: flex;
  width: 1140px;
  justify-content: space-between;
  align-items: flex-end;
}

.fm10p1 {
  color: #000;
  font-family: "IBM Plex Serif";
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 22px;
}

.fm10p2 {
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  width: 733px;
  margin-bottom: 20px;
}

.fm10p4 {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 250% */
}
ol,
ol li {
  margin-left: 9px;
  padding-left: 0;
}

ol li {
  line-height: 35px;
  font-family: "Inter", sans-serif;
}

.mailmain {
  display: flex;
  padding: 36px 62px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 162px;
  height: 158px;
}
.fm37 {
  display: flex;
  width: 130px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  height: 115px;
}
.fm34 {
  display: flex;
  width: 62px;
  height: 80px;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  background: #000;
}
.mailimg {
  width: 36px;
  height: 36px;
  flex-shrink: 0;
}
.fm38 {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 3.2px;
  height: 5px;
}
.fm40 {
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 0px;
}
.fm50 {
  display: flex;
  width: 1440px;
  height: 270px;
  padding: 42px 0px;
  flex-direction: column;
  align-items: center;
  gap: 42px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
}
.fm51 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 42px;
}
.fm52 {
  display: flex;
  align-items: flex-start;
  gap: 50px;
}
.fm53 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0px;
  padding: 0px;
  height: 120px;
}
.fm53sub {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.nitc1 {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0px;
}
.place {
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
}
.img8 {
  width: 85px;
  height: 103.545px;
}
.frm8 {
  width: 237.667px;
  height: 46px;
}
.insta1 {
  width: 25px;
  height: 24.988px;
  flex-shrink: 0;
}
.twitter1 {
  width: 25px;
  height: 23.148px;
  flex-shrink: 0;
  background: url(<path-to-image>);
}
.utube1 {
  width: 28px;
  height: 20.276px;
  flex-shrink: 0;
  background: url(<path-to-image>);
}
.whatsapp1 {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.comn {
  display: flex;
  width: 50px;
  height: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 50px;
  border: 3px solid #585858;
  background: rgba(255, 255, 255, 0.5);
}
header a:hover {
  color: #144272;
}
